@using EntityLayer.Tables
@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_GeneralLayaout.cshtml";
}
<!-- CONTENT =============================-->
<section class="item content">
    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">OUR PRODUCTS</h1>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        @foreach (var item in Model)
        {
            if (item.Name.IndexOf("Netflix", StringComparison.OrdinalIgnoreCase) >= 0)
            {
                @*<div class="row">*@
                <div class="col-md-4">
                    <div class="productbox">
                        <div class="fadeshop">
                            <div class="captionshop text-center" style="display: none;">
                                <h3>@item.Name</h3>
                                <p>
                                    @item.Description
                                    Ürün Numarası: @item.ProductID
                                </p>
                                <p>
                                    <a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Satın Al</a>
                                    <a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Detay</a>
                                </p>
                            </div>
                            <span class="maxproduct"><img src="~/images/netflix.png" style="width:590px; height:175px" /></span>
                        </div>
                        <div class="product-details">
                            <a href="#">
                                <h1>@item.Name</h1>
                            </a>
                            <span class="price">
                                <span class="edd_price">₺@item.Price</span>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- /.productbox -->
                @*</div>*@
            }
        }
    </div>
    <!--</div>-->
</section>