@using EntityLayer.Tables
@model List<SocialMedia>
@{
    ViewData["Title"] = "SocialMedia";
    Layout = "~/Views/Shared/AdminLayaout.cshtml";
}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Şirket Bilgileri</h5>
            </div>
            <div class="card-body">
                <form>
                    @foreach (var item in Model)
                    {
                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label>Instagram Adresi</label>
                                    <input type="text" class="form-control" placeholder="Instagram Adresi" value="@item.InstagramUrl"> 
                                </div>
                            </div>
                            <div class="col-md-6 pl-md-1">
                                <div class="form-group">
                                    <label>Facebook Adresi</label>
                                    <input type="text" class="form-control" placeholder="Facebook Adresi" value="@item.FacebookUrl">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label>Youtube Adresi</label>
                                    <input type="text" class="form-control" placeholder="Youtube Adresi" value="@item.YoutubeUrl">  
                                </div>
                            </div>
                            <div class="col-md-6 pl-md-1">
                                <div class="form-group">
                                    <label>Twitter Adresi</label>
                                    <input type="text" class="form-control" placeholder="Twitter Adresi" value="@item.TwitterUrl">
                                </div>
                            </div>
                        </div>
                    }
                </form>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-fill btn-primary">Save</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-user">
            <div class="card-body">
                <p class="card-text">
                    <div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        <a href="javascript:void(0)">
                            <img class="avatar" src="~/black-dashboard-master/assets/img/Screenshot_1.png" alt="...">
                            <h5 class="title">Oğuz Berkit Genç</h5>
                        </a>
                        <p class="description">
                            Kurucu/Kurucu-Ortak
                        </p>
                    </div>
                </p>
                <div class="card-description">
                </div>
            </div>
            <div class="card-footer">
                <div class="button-container">
                    <button href="https://www.facebook.com/oberkitgenc" class="btn btn-icon btn-round btn-facebook">
                        <i class="fab fa-facebook"></i>
                    </button>
                    <button href="https://www.instagram.com/oguzberkitgenc" class="btn btn-icon btn-round btn-instagram">
                        <i class="fab fa-instagram"></i>
                    </button>
                    <button href="https://www.youtube.com/oguzberkitgenc" class="btn btn-icon btn-round btn-youtube">
                        <i class="fab fa-youtube"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


