@model EntityLayer.Tables.Product
@{
    ViewData["Title"] = "ProductUpdate";
    Layout = "~/Views/Shared/_AdminLayaout.cshtml";
}

<h4>Ürün Düzenleme Sayfası</h4>
<form method="post">
    @Html.HiddenFor(x=>x.ProductID)
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" placeholder="Ürün Adı" asp-for="Name" />
    </div>
    <div class="row" style="margin-top:5px">
        <div class="col">
            <label>Satış Fiyatı</label>
            <input type="text" class="form-control" placeholder="Satış Fiyatı" asp-for="Price" />
        </div>
        <div class="col">
            <label>Stok</label>
            <input type="text" class="form-control" placeholder="Stok" asp-for="Stock" />
        </div>
    </div>
    <div style="margin-top:5px">
        <label style="margin-top:5px">Ürün Açıklaması</label>
        <textarea class="form-control" placeholder="Ürün Açıklaması" asp-for="Description"></textarea>
    </div>
    <br />
    <button type="submit" class="btn btn-outline-info">Kaydet</button>
</form>


