@model EntityLayer.Tables.HomePage
@{
    ViewData["Title"] = "UpdateHomePage";
    Layout = "~/Views/Shared/_AdminLayaout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Şirket Bilgileri</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    @Html.HiddenFor(x=>x.ID)
                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label>Ana Sayfa Başlık</label>
                                    <input type="text" class="form-control" placeholder="Ana Sayfa Başlık" asp-for="HomPageTitle">
                                </div>
                            </div>
                            <div class="col-md-6 pl-md-1">
                                <div class="form-group">
                                    <label>Ana Sayfa Alt Başlık</label>
                                <input type="text" class="form-control" placeholder="Ana Sayfa Alt Başlık" asp-for="HomPageSubTitle">
                                </div>
                            </div>
                        </div>
                        <hr style="border: none; border-top: 1px solid #00bfff; margin: 10px 0;">
                        <div class="row">
                            <div class="col-md-4 pr-md-1">
                                <div class="form-group">
                                    <label>Alt Sol Başlık</label>
                                <input type="text" class="form-control" placeholder="Alt Sol Başlık" asp-for="LowerLeft">
                                </div>
                            </div>
                            <div class="col-md-4 px-md-1">
                                <div class="form-group">
                                    <label>Alt Orta Başlık</label>
                                <input type="text" class="form-control" placeholder="Alt Orta Başlık" asp-for="LowerCenter">
                                </div>
                            </div>
                            <div class="col-md-4 pl-md-1">
                                <div class="form-group">
                                    <label>Alt Sağ Başlık</label>
                                <input type="text" class="form-control" placeholder="Alt Sağ Başlık" asp-for="LowerRight">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                @*<label>Alt Sol Başlık Açıklama</label>*@
                                <textarea type="text" class="form-control" rows="3" asp-for="LowerLeftDesc" placeholder="Alt Sol Başlık Açıklama "></textarea>
                            </div>
                            <div class="col">
                                @*<label>Alt Orta Başlık Açıklama</label>*@
                                <textarea type="text" class="form-control" rows="3" asp-for="LowerCenterDesc" placeholder="Alt Orta Başlık Açıklama"></textarea>
                            </div>
                            <div class="col">
                                @*<label>Alt Sağ Başlık Açıklama</label>*@
                                <textarea type="text" class="form-control" rows="3" asp-for="LowerRightDesc" placeholder="Alt Sağ Başlık Açıklama"></textarea>
                            </div>
                        </div>
                        <hr style="border: none; border-top: 1px solid #00bfff; margin: 10px 0;">
                        <div class="row">
                            <div class="col-md-4 pr-md-1">
                                <div class="form-group">
                                    <label>Sayfa Sonu Sol Başlık</label>
                                <input type="text" class="form-control" placeholder="Sayfa Sonu Sol Başlık" asp-for="LeftPageBreak">
                                </div>
                            </div>
                            <div class="col-md-4 px-md-1">
                                <div class="form-group">
                                    <label>Sayfa Sonu Orta Başlık</label>
                                <input type="text" class="form-control" placeholder="Sayfa Sonu Orta Başlık" asp-for="CenterPageBreak">
                                </div>
                            </div>
                            <div class="col-md-4 pl-md-1">
                                <div class="form-group">
                                    <label>Sayfa Sonu Sağ Başlık</label>
                                <input type="text" class="form-control" placeholder="Sayfa Sonu Sağ Başlık" asp-for="RightPageBreak">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                @*<label>Sayfa Sonu Sol Başlık Açıklama</label>*@
                                <textarea class="form-control" rows="3" asp-for="LeftPageBreakDesc" placeholder="Sayfa Sonu Sol Başlık Açıklama"></textarea>
                            </div>
                            <div class="col">
                                @*<label>Sayfa Sonu Orta Başlık Açıklama</label>*@
                                <textarea class="form-control" rows="3" asp-for="CenterPageBreakDesc" placeholder="Sayfa Sonu Orta Başlık Açıklama"></textarea>
                            </div>
                            <div class="col">
                                @*<label>Sayfa Sonu Sağ Başlık Açıklama</label>*@
                                <textarea class="form-control" rows="3" asp-for="RightPageBreakDesc" placeholder="Sayfa Sonu Sağ Başlık Açıklama"></textarea>
                            </div>
                        </div>
                        <hr style="border: none; border-top: 1px solid #00bfff; margin: 10px 0;">
                        <div class="form-group">
                            <label>Sayfa Sonu Başlık</label>
                        <input type="text" class="form-control" placeholder="Sayfa Sonu Orta Başlık" asp-for="PageBreakTitle">
                        </div>
                        <div class="col">
                            @*<label>Sayfa Sonu Başlık Açıklama</label>*@
                        <textarea class="form-control" rows="3" asp-for="PageBreakTitleDesc" placeholder=" Sayfa Sonu Sol Başlık Açıklama"></textarea>
                        </div>
                        <hr style="border: none; border-top: 1px solid #00bfff; margin: 10px 0;">
                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label>Alt Yeşil Alan</label>
                                <input type="text" class="form-control " placeholder="Alt Yeşil Alan" asp-for="BottomGreenTitle">
                                </div>
                            </div>
                            <div class="col-md-6  px-md-1">
                                <div class="form-group">
                                    <label>Yeşil Alan Kutu İçi</label>
                                <input type="text" class="form-control" placeholder="Yeşil Alan Kutu İçi" asp-for="BottomGreenBox">
                                </div>
                            </div>
                        </div>
                    <button type="submit" class="btn btn-outline-info">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>
